.post-preview{
    padding: 2% 5%;
}


@media only screen and (min-width: 600px) {
   div.blog p{
        font-size: larger;
    }
  }

  @media only screen and (max-width: 599px) {
   div.blog p{
        font-size: medium;
    }
  }

