.desc {
   top: -40px;
   left: 50%;
   width: 100%;
   position: relative;
   font-size: 48px;
   text-align: center;
   color: #706f6c;
   text-shadow: 0 2px 4px rgba(0, 0, 0, .2);
}

.testimonials {
   margin-top: 2%;
   margin-bottom: 2%;
   border-bottom: 1px solid #bbab86;
   background-color: #e7e1d4;
   position: relative;
   /* margin: 0; */
}

.tweets {
   margin-left: 0;
   margin-bottom: 0;
   /* padding: 60px 0 30px; */
   display: flex;
   flex-wrap: nowrap;
   overflow-x: scroll;
   justify-content: flex-start;
   align-items: flex-start;
   /* box-shadow: inset 0 3px 3px -3px rgba(0,0,0,.3); */
}

.tweet {
   margin-right: 15px;
   padding: 15px;
   box-sizing: border-box;
   background-color: #fff;
   border-radius: 5px;
   box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
   flex: 0 0 370px;
   position: relative;
   border: 1px solid #bfbfbf;
   width: 340px;
   height: 190px;
   max-width: 341px;
   max-height: 191px;
}

.tweetForm {
   /* margin-left: 15px; */
   padding: 15px;
   box-sizing: border-box;
   background-color: #fff;
   border-radius: 5px;
   box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
   /* flex: 0 0 370px; */
   position: relative;
   border: 1px solid #bfbfbf;
}

.reviewText {
   font-size: medium;
}

.reviewAuthor {
   font-size: x-large;
   margin-bottom: 0%;

}

.relation {
   font-size: smaller;
   padding: 0%;
}

.header_cnter {
   text-align: center !important;
}

.add_review {
   position: relative;
   top: +180%;
   left: -40%;
   background-color: #706f6c;
}